@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

@media (min-width:940px) {
  .container{
    width: 940px;
  }
}

html * {
  font-family: 'Cutive Mono';
}

/* canvas para animações no p5js */
canvas.home {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
