/* http://getbem.com/naming/ for conventions */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

html, body{
    margin: 0px;
    height: 100%;
}
body {
    color: #FFF;
    background-color: #000;
    text-align: center;
    position: relative;
}

.main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:25%;
    right: 25%;
    h1 {
        margin-top: 0px;
    }
    &__icons {
        margin-bottom: 20px;
    }
    &__svg{
        height: 120px;
        &:not(:last-child){
            margin-right: 20px;
        }
        &:not(:first-child){
            margin-left: 20px;
        }
        &--html{
            color: #e44d26;
        }
        &--css{
            color: #264de4;
        }
        &--js{
            color: #f7e018;
        }
    }
    &__skilltree {
        border: 5px solid #fff;
        border-radius: 0;
        color: #000;
        font-weight: 600;
        font-family: monospace;
        padding: 20px;
        background: #f7e018;
    }
    &__list {
        padding-left: 0px;
    }
    &__item {
        list-style: none;
        display: inline;
        &:not(:last-child){
            margin-right: 5px;
        }
        &:not(:first-child){
            margin-left: 5px;
        }
        a {
            color: #fff;
            text-decoration: none;
            font-size: 2em;
        }
    }
}

@media(max-width: 860px){
    .main {
        left: 10%;
        right: 10%;
        &__svg {
            height: 100px;
            &:not(:last-child){
                margin-right: 5px;
            }
            &:not(:first-child){
                margin-left: 5px;
            }
        }
    }
}