@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

html, body{
    margin: 0px;
    height: 100%;
}
body {
    color: #FFF;
    background-color: #000;
    text-align: center;
    position: relative;
}

article {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:25%;
    right: 25%;
    h1 {
        margin-top: 0px;
    }
    svg{
        height: 120px;
        &:not(:last-child){
            margin-right: 20px;
        }
        &:not(:first-child){
            margin-left: 20px;
        }
        &.icon-html{
            color: #e44d26;
        }
        &.icon-css{
            color: #264de4;
        }
        &.icon-js{
            color: #f7e018;
        }
    }
}

ul {
    padding-left: 0px;
    li {
        list-style: none;
        display: inline;
        &:not(:last-child){
            margin-right: 5px;
        }
        &:not(:first-child){
            margin-left: 5px;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: 2em;
    }
}

button.skilltree {
    border: 5px solid #fff;
    border-radius: 0;
    color: #000;
    font-weight: 600;
    padding: 20px;
    background: #f7e018;
}

@media(max-width: 860px){
    article {
        left: 10%;
        right: 10%;
        svg {
            height: 100px;
            &:not(:last-child){
                margin-right: 5px;
            }
            &:not(:first-child){
                margin-left: 5px;
            }
        }
    }
}