$purpura: #413c58;
$cinza: #d3d5d7;
$verde: #037171;
$laranja: #cc9139;
$sombra: 0px 4px 4px rgba(0, 0, 0, 0.25);
$radius: 6px;
@mixin scrollbar {
  background-color: #8173c2;
  height: 0.4rem;
  &-thumb {
    background-color: $laranja;
    border-radius: $radius;
  }
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  color: $cinza;
  background-color: $purpura;
}

header,
section {
  min-height: calc(100vh - 7.438rem);
  padding: 8rem 42px 0px 42px;
}
@import "Header.scss";
@import "Menu.scss";
@import "Section.scss";
@import "Sobre.scss";
@import "ExpProf.scss";
@import "Projeto.scss";
@import "Contato.scss";
