.contato {
  display: flex;
  padding-top: 1.625rem;
  min-height: calc(100vh - 5.438rem);
  &__text {
    margin-bottom: 81px;
  }
  &__email {
    border: 3px solid $laranja;
    border-radius: $radius;
    color: $laranja;
    text-decoration: none;
    padding: 8px 21px;
    margin-bottom: 81px;
  }
  &__externals {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    .bi {
      height: 70px;
      color: $laranja;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      justify-content: center;
      &__line {
        display: none;
      }
    }
    &__text,
    &__externals {
      width: calc(100% / 3);
    }
    &__text {
      text-align: center;
    }
  }
}
