.companies {
  display: flex;
  border-bottom: 1px solid #8173c2;
  width: 100vw;
  padding: 0px;
  list-style: none;
  overflow-y: auto;
  justify-content: space-evenly;
  align-items: center;
  &__button {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    color: $cinza;
    background: none;
    border: 0px;
    font-size: 24px;
    padding: 0px 0px 5px 0px;
    margin: 0px;
    &.active {
      color: $laranja;
      border-bottom: 5px solid $laranja;
      padding: 0px;
    }
  }
}
.job {
  &__cargo {
    font-size: 1.25rem;
  }
  &__periodo {
    font-size: 1.25rem;
  }
  &__attrib {
    font-size: 1.25rem;
    &s {
      padding: 0px;
      list-style: "- ";
    }
  }
}
