header {
  h1 {
    // margin-top: 151px;
    font-size: 40px;
    small {
      display: block;
    }
    code {
      font-size: 24px;
      color: $laranja;
    }
  }
  p {
    font-size: 24px;
  }
}
